.top {
  height: 100px;
  background-color: cornflowerblue;
}
.home-button {
  font-size: 70px;
  float: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: aliceblue;
}
.instructions {
  font-size: xx-large;
  align-self: center;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.score {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  float: right;
}
.topscore {
  float: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
